$('#{@id_follow}').html("#{escape_javascript(render partial: "shared/follow", locals: { user: @user })}");
$('#{@id_followbox}').html("#{escape_javascript(render partial: "shared/followbox", locals: { user: @user })}");
