.contents
  .content__title
    フォロー

  - @users.each do |user|
    .content__follow
      .content__upper
        .content__upper-icon
          = icon('fas', 'user-alt', class: 'icon')
        .content__upper__right-name
          = link_to user.name, user_path(user.id), class: "content__upper__right-name"
      .content__right-btn{id: "follow-#{user.id}"}
        = render partial: "shared/follow", locals: { user: user }