.contents
  .content__title
    投稿一覧
  .container
    = render partial: "shared/post", collection: @posts
    = paginate(@posts)
    = link_to "お問い合わせフォーム", new_inquiry_path, class: "content--inquiry"