/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "config/reset";
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import "modules/user";
@import "modules/header";
@import "modules/tab";
@import "modules/chat";


* {
  box-sizing: border-box;
}
*::-webkit-scrollbar {
  display: none;
}

body{
  background-color: #f6f6f6;
  min-width: 650px;
}

.icon{
  font-size: 2em 
}

p,a{
  word-break: normal;
  white-space: pre-wrap;
  text-decoration: none;
  color: #000000;
}
a.favorite{
  white-space: normal;
  margin-right: 10px;
}

textarea {
  resize: none;
}

.fa-heart {
  color: #FF3300;
}